@tailwind base;
@tailwind components;
@tailwind utilities;

/* Al final de tu archivo de Tailwind CSS */
@layer base {
  html {
    @apply bg-gray-50 text-gray-950;
  }
}

.social-icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  
  .social-icon .icon,
  .social-icon .icon-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .social-icon .icon-active {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .social-icon:hover .icon {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .social-icon:hover .icon-active {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Animación de zoom suave y lento */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05); /* Zoom-in al 105% */
  }
}

.animated-zoom {
  animation: zoomIn 10s ease-in-out infinite; /* Animación suave, dura 10 segundos y es continua */
  transition: transform 10s ease-in-out;
}
