@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Al final de tu archivo de Tailwind CSS */
@layer base {
  html, body, #root {
    @apply bg-gray-50 text-gray-950;
    @apply overflow-x-hidden w-full;
  }

  
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #172554;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b1b41;
}

.social-icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  
  .social-icon .icon,
  .social-icon .icon-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .social-icon .icon-active {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .social-icon:hover .icon {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .social-icon:hover .icon-active {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Animación de zoom suave y lento */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05); /* Zoom-in al 105% */
  }
}

.animated-zoom {
  animation: zoomIn 10s ease-in-out infinite; /* Animación suave, dura 10 segundos y es continua */
  transition: transform 10s ease-in-out;
}

/* Animación para que el ícono gire 360 grados al pasar el ratón */
.rotate-on-hover:hover .fa-google-drive {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

/* Fade in from the left with slower transitions */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade in from the right with slower transitions */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation classes with slower and smoother effect */
.animate-fade-in-left {
  animation: fadeInLeft 3s ease-out forwards; /* Aumentamos la duración a 3 segundos */
}

.animate-fade-in-right {
  animation: fadeInRight 3s ease-out forwards; /* Aumentamos la duración a 3 segundos */
}

/* Animación fade-in personalizada */
/* Animación fade-in personalizada */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1.5s forwards ease-in-out;
}

/* Animación más lenta para el título */
.animate-fade-in-slow {
  animation: fadeIn 2s forwards ease-in-out;
}

.navbar-links {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300; /* Cambia a 300 o 600 si prefieres más ligero o más pesado */
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.animate-zoom {
  animation: zoomEffect 10s ease-in-out infinite alternate;
}
* {
  box-sizing: border-box;
}
